/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.site-header {
  z-index: 999;
  background-color: #ffffff;
  display: flex;
  top: 0;
  left: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

.site-header__nav {
  margin-left: auto;
}

.site-header__logo-link {
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  color: #173a56;
  margin-left: 15px;
}

.site-header__btn {
  display: none;
}

.site-header__btn--active {
  display: none;
}

@media only screen and (max-width: 915px) {
  .site-header__btn {
    display: block;
    width: 16px;
    height: 15px;
    background-image: url("../../img/menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;
  }
  .site-header__btn--active {
    width: 16px;
    height: 15px;
    background-image: url("../images/icons/x-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;
  }
  .site-header__nav {
    display: none;
    position: absolute;
    z-index: 5;
    top: 50px;
    width: 100%;
    height: calc(105vh - 92px);
    padding-top: 40px;
    background: linear-gradient(360deg, rgba(254, 252, 247, 0.504981) 0%, #fefcf7 55.94%);
    -webkit-animation-name: circle-to-square;
            animation-name: circle-to-square;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: none;
            animation-iteration-count: none;
    -webkit-animation-direction: 5s;
            animation-direction: 5s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
}
.nav {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  margin-right: 30px;
}

.nav__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #2c434e;
}

.nav__link-in {
  padding: 8px 25px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173a56;
  margin-right: 24px;
}

.nav__link-up {
  padding: 10px 25px;
  background: #02897A;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 40px;
}

.nav__link-in:hover {
  color: #ffffff;
  background: #02897A;
}

.nav__link-up:hover {
  color: #173a56;
  background-color: white;
  border: 1px solid #bcd0e5;
  padding: 8px 25px;
}

.nav__link-product {
  color: #000;
}

@media only screen and (max-width: 915px) {
  .nav {
    display: none;
  }
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  background: #02897A;
  border-radius: 4px;
  padding: 15px 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.link:hover {
  color: #173a56;
  background-color: white;
  border: 1px solid #bcd0e5;
}

.intro__wrapper {
  display: flex;
  align-items: center;
}

.intro__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #22343d;
  max-width: 518px;
  height: 120px;
  margin: 0;
}

.intro__info {
  width: 458px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #22343d;
  margin-bottom: 45px;
}

.intro__play-button {
  margin-left: 30.5px;
}

.intro__play-button-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #02897a;
  margin-right: 8.5px;
}

@media only screen and (max-width: 915px) {
  .intro__wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .intro__title {
    font-size: 36px;
    line-height: 60px;
    width: 369px;
    height: 120px;
  }
  .intro__info {
    font-size: 18px;
    line-height: 28px;
    width: 325px;
    height: 95px;
  }
}
@media only screen and (max-width: 768px) {
  .intro__img {
    width: 338px;
  }
}
.built__list {
  display: flex;
  justify-content: space-between;
}

.built__title {
  margin-top: 114px;
  margin-bottom: 57px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343d;
}

.built__item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #22343d;
}

.built__item-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 240px;
  color: #22343d;
}

.built__wrapper {
  background: linear-gradient(179.59deg, #ededed 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
  transform: rotate(180deg);
}

.built__link {
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
}

@media only screen and (max-width: 915px) {
  .built__link {
    margin-left: 50px;
  }
  .built__title {
    width: 400px;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 30px;
  }
  .built__item-title {
    width: 150px;
  }
  .built__item-info {
    width: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .built__list {
    flex-direction: column;
    align-items: center;
  }
  .built__item-title {
    width: 164px;
  }
  .built__item-info {
    width: 226px;
  }
  .built__item {
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .built__title {
    margin-top: 129px;
    margin-bottom: 37px;
  }
}
.information__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 168px;
}

.information__infos {
  margin-bottom: 131px;
}

.information__info {
  font-size: 16px;
  line-height: 24px;
}

.information__item-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.information__item-info {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.information__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 486px;
}

.information__with-icon-text {
  width: 365px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.information__text-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.information__img {
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 915px) {
  .information__item {
    display: flex;
    flex-direction: column;
  }
  .information__item-img {
    width: 350px;
  }
  .information__info {
    font-size: 16px;
    line-height: 24px;
  }
  .information__item-title {
    font-size: 32px;
    line-height: 48px;
  }
  .information__info-wrapper {
    text-align: center;
  }
  .information__description {
    width: 334px;
  }
  .information__info-wrapper {
    margin: 0 auto;
  }
}
*,
::after,
::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0 15px;
}

ol {
  list-style: none;
}

body {
  font-family: "Popinos", "Arial", sans-serif;
}/*# sourceMappingURL=main.css.map */