ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0 15px;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
body {
  font-family: "Fraunces", "Arial", sans-serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
}
p {
  font-family: "Barlow", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin: 0;
}
