.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (max-width: $tablet) {
  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: $tablet;
  }
}
@media only screen and (max-width: $mobile) {
  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: $mobile;
  }
}
