.information__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 168px;
}
.information__infos {
  margin-bottom: 131px;
}

.information__info {
  font-size: 16px;
  line-height: 24px;
}
.information__item-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}
.information__item-info {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}
.information__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 486px;
}

.information__with-icon-text {
  width: 365px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.information__text-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.information__img {
  width: 35px;
  height: 35px;
}
@media only screen and (max-width: $tablet) {
  .information__item {
    display: flex;
    flex-direction: column;
  }
  .information__item-img {
    width: 350px;
  }
  .information__info {
    font-size: 16px;
    line-height: 24px;
  }
  .information__item-title {
    font-size: 32px;
    line-height: 48px;
  }
  .information__info-wrapper {
    text-align: center;
  }
  .information__description {
    width: 334px;
  }
  .information__info-wrapper {
    margin: 0 auto;
  }
}
