.link {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  background-color: #0e8784;
  padding: 15px 30px;
  border-radius: 6px;
  width: 217px;
  height: 56px;
}
.link:hover {
  background-color: #03ebe7;
}
